<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>972840924389-7cku7v6ttvtp16k5ne6c1upacauvo2l9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.972840924389-7cku7v6ttvtp16k5ne6c1upacauvo2l9</string>
	<key>API_KEY</key>
	<string>AIzaSyC8hkJu1Lq3NRNdLUH8kU9j_iJlEFbVO_I</string>
	<key>GCM_SENDER_ID</key>
	<string>972840924389</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smeAppAluno</string>
	<key>PROJECT_ID</key>
	<string>sme-app-aluno</string>
	<key>STORAGE_BUCKET</key>
	<string>sme-app-aluno.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:972840924389:ios:26df45ff57b519c74f100c</string>
</dict>
</plist>